<body>
  <div class="lightbox">
    <div class="data-lightbox">
      <% @patterns.each do |pattern| %>
          <%= link_to(image_tag(pattern.image.url(:medium)), (pattern.image.url(:large)), data: { lightbox: "example-set", title: pattern.name }) %>
      <% end %>
    </div>
  </div>
</body>
