<!DOCTYPE html>

<h1 id="page_title">Pattern Design</h1>
<div id="gallery">
  <div class="wrapper clearfix">
    <% @patterns.each do |pattern| %>
        <%= link_to(image_tag(pattern.image.url(:medium)), (pattern.image.url(:large)), data: { lightbox: "example-set", title: pattern.name, rel: 'lightbox' }) %>
    <% end %>
  </div>
</div>
