<div id="post_show_content" class="skinny_wrapper wrapper_padding">

  <header>
    <h1><%= @photo.name %></h1>
    <hr>
  </header>
    <%= image_tag attachment_url(@photo, :image, :fill, 300, 300) %>


  <%= link_to 'Edit', edit_photo_path(@photo) %> |
  <%= link_to 'Back', photos_path %>
</div>
