<h1 id="page_title">About Me</h1>
<div class="white">
  <div id="posts_wrapper" class="skinny_wrapper white">
    <div class="card">
      <div class="container">
        <p>Let me introduce myself...</p>
        <p>I live out in the country on a farm in Iowa with my wonderful husband and kids.  We have a blended family of 8 awesome kids!  Our oldest is working full time, then we have three in college, two in high school, and I homeschool our youngest two who are in Kindergarden and First grade. We also have two dogs, three cats, three rabbits and four chickens. I spend a lot of my time getting to go to my kids' activities. I'm very proud of all my kids!</p>
        <p>Both my husband and I were country born and raised. I grew up in South Dakota on a crop farm and my husband grew up not far from here on a cattle farm.</p>
        <p>I've primarily been a stay-at-home homeschool mom, but I've also been an Entrepreneur.  I have a longarm machine quilting business called Cottonwood Creek Quilting, and I have a photography business called Nomi Vos Photography.</p>
        <p>It was in the process of getting my WordPress website set up for my photography business that I got my first introduction to coding.  I bought a WordPress theme but I, of course, wanted to customize it.  I delved into the HTML and CSS and managed to make a few changes with the help of my first coding book called, "HTML and CSS" by Jon Duckett.</p>
        <p>When I decided to look for a full-time job, I started looking on remote job board sites. I noticed that there was a lot of remote jobs in the tech areas. That made me think I should look into these types of jobs and find out the expected skills and knowledge. So I read more books and articles and did various tutorials and self-study and found that I really liked coding! I'm a detail oriented and inventive sort of person, so I expected to like that aspect, but I did not expect there to be a creative aspect to coding. Creativity is a huge part of my life in many forms so I was excited to find the creative side of coding. I think it is so cool to create something from nothing that is also useful to people. I want my job to bring benefit to others and I think coding does that.</p>
        <p>Quickly on in my self-study I decided to look into a web development bootcamp.  I did some research on various bootcamps and decided to apply to Makers Academy which is located in London, England.  I applied to their remote online bootcamp. Amazingly I was accepted! I was so excited! So that began my 4 month bootcamp journey from virtually zero coding knowledge to becoming a job-ready Junior Developer.  Because of the six hour time difference, I had to get up at 3am every morning! I am proud to say I was never late or absent during the entire bootcamp! I made the bootcamp a top priority. I pretty much lived and breathed coding. I even dreamed coding. My family was super supportive! I really appreciated their efforts to help around the house so I could spend more time studying! I still get up at 3am most mornings. It's so quiet and peaceful then. I can really get a lot done!  During the bootcamp I pair programmed daily with people from all over the world. My cohort had people from at least ten different countries. I got comfortable working with Github and the technologies required to work remotely.</p>
        <p>For my photography business, I taught myself Photoshop. I love Photoshop! I can spend hours on one image working at the pixel level and not even notice the time flying by. Retouching and Compositing are loves!. All the photography on this website is my own.</p>
        <p>With my love of quilting naturally comes a love of fabric. Just ask any quilter. We're all fabric addicts! I thought it would be cool to design my own fabric, so I did some tutorials and self-study on Pattern Design and had a lot of fun learning in Illustrator. That's about as far as it went though. I designed my own logo and Resume that I used on this website as well as the other designs.</p>
        <p>I consider myself a crafty person. I like to knit, crochet, sew, make jewelry... I make my own soap. I've made my own wine. I need to do that again! I like to garden and can the produce.</p>
        <p>Music is important to me. I play piano. I have a few piano songs I've composed. I play flute and sing for our worship team at church.</p>
        <p>I've ran two half-marathons and have a goal of running a whole marathon. That would mean I have to get back in shape, though. Haha! I need to make that happen!!</p>
        <p>I love to read! When I was a kid, my brother told me I wasn't a book worm, I was a book slug. This still holds true. I always have several books going at a time and feel lost if I don't have one handy.</p>
        <p>I basically just like to learn new things! There isn't enough time in my lifetime to learn all I'm interested in learning!</p>
        <p>My most fervent wish is that I had a photographic memory.</p>
        <p>And that's more than you probably ever wanted or needed to know!</p>
        <p>Thanks!</p>
        <p>Nomi</p>
      </div>
    </div>
  </div>
</div>
