<h1 id="page_title">About Me</h1>

<div id="posts_wrapper" class="skinny_wrapper">
  <p>When I was a kid, my brother told me I wasn't a book worm, I was a book slug. This still holds true. I always have several books going at a time and feel lost if I don't have one handy. </p>
  <p>My most fervent wish is that I had a photographic memory.</p>
</div>
