<h1 id="page_title">About Me</h1>
<div class="white">
  <div id="posts_wrapper" class="skinny_wrapper white">
    <div class="card">
      <div class="container">
        <p>Let me introduce myself...</p>
        <p>I live out in the country on a farm in Iowa with my wonderful husband and kids.

        <p>Quickly on in my self-study I decided to look into a web development bootcamp.  I did some research on various bootcamps and decided to apply to Makers Academy which is located in London, England.  I applied to their remote online bootcamp. Amazingly I was accepted! I was so excited! So that began my 4 month bootcamp journey from virtually zero coding knowledge to becoming a job-ready Junior Developer.  Because of the six hour time difference, I had to get up at 3am every morning! I am proud to say I was never late or absent during the entire bootcamp! I made the bootcamp a top priority. I pretty much lived and breathed coding. I even dreamed coding. My family was super supportive! I really appreciated their efforts to help around the house so I could spend more time studying! During the bootcamp I pair programmed daily with people from all over the world. My cohort had people from at least ten different countries. I got comfortable working with Github and the technologies required to work remotely.</p>
        <p>I basically just like to learn new things! There isn't enough time in my lifetime to learn all I'm interested in learning!</p>
        <p>My most fervent wish is that I had a photographic memory.</p>
      </div>
    </div>
  </div>
</div>
