<main class="wrapper wrapper_padding clearfix">
  <div id="about">
    <div class="card">
      <div class="container">
        <h2>About</h2>
        <hr>
        <p>Hi! My name is Nomi. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    Check out my CV! &nbsp; &nbsp;
        <a href="https://github.com/nomi811/CV" target="_blank"><i class="fa fa-file-o" aria-hidden="true"></i></a></p>
        <%= image_tag("me-circle", alt: "A lovely picture of myself", class: 'image') %>
        <p>I'm a Junior Web Developer and a dabbler of all things creative. God's creation inspires and feeds my soul.</p>
        <p>When I was a kid, my brother told me I wasn't a book worm, I was a book slug. This still holds true. I always have several books going at a time and feel lost if I don't have one handy. </p>
        <p>My most fervent wish is that I had a photographic memory.</p>
      </div>
    </div>
  </div>
</main>
