/*===================
    Footer
=====================*/
footer {
    background-color: #1a2930;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding: 0 40px 0 40px;
}

footer p {
    color: #ff533d;
}

footer p span {
    font-weight: 700;
}
/*===================
    Grabber
=====================*/
.social img {
  height: 30px;
  padding-right: 20px;
}

.copyright p {
  color: #4c4955;
}

.contact img {
  height: 30px;
  padding: 80px 20px 0 0;
  position: relative;
  float: right;
}
footer .copyright {
  position: relative;
  padding-top: 40px;
  left: 0px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media screen and (max-width: 1080px) {
  .footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
    float: none;
    max-width: none;
	}
}

@media screen and (max-width: 975px) {

  .footer-distributed .tech {
    float: none;
    text-align: center;
    padding: 15px 0 0;
  }

  .footer-distributed .footer-left p {
    margin: 27px 0 .75em 0;
  }
}

@media screen and (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

@media screen and (max-width: 480px) {

  .footer-distributed {
    padding: 20px;
    margin-top: 0;
  }

  .footer-distributed .footer-left .copyright,
  .footer-distributed .footer-right {
    float: none;
    width: 100%;
    text-align: center;
  }

  .footer-distributed .footer-left .copyright {
    padding-top: 1.5em;
  }
}
