* {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: $text-color;
  font-family: $text-font;
}

a {
  color: $accent-color;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: lighten($accent-color, 0.2%);
  outline: none;
  text-decoration: none;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../assets/images/preloader.svg") no-repeat center center;
}

/*----------------
  Sections Common
-------------------*/
.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-description {
  text-align: center;
  margin-bottom: 40px
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: $accent-color;
  margin: 0 auto;
  margin-bottom: 20px;
}

/*
.wrapper {
  width: 96%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

.skinny_wrapper {
  min-height: 100%;
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}

.wrapper_padding {
  padding: 4rem 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}

.notice, .alert {
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid #e9e9e9;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  color: $dark;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p, li {
  font-size: 1.1rem;
  line-height: 1.75;
}

p, ul, ol, {
  margin: 0 0 1.6em 0;
}

hr {
  width: auto;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid $highlight;
  margin: 1rem 0 2rem 0;
}

textarea {
  min-height: 20em;
}

#page_title {
  text-align: center;
  border-bottom: 1px solid $border;
  padding: 1em 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}
*/
