#gallery {
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  padding: 1em;
  min-height: 100%;
  img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: .8em;
  }
}
