/* Testimonials Section */

#testimonials {
  background: #f6f6f6;
  padding: 80px 0;
  .profile {
    text-align: center;
    .pic {
      border-radius: 50%;
      border: 6px solid #fff;
      margin-bottom: 15px;
      overflow: hidden;
      height: 260px;
      width: 260px;
      img {
        max-width: 100%;
      }
    }
    h4 {
      font-weight: 700;
      color: $accent-color;
      margin-bottom: 5px;
    }
    span {
      color: $heading-color;
    }
  }
  .quote {
    position: relative;
    text-align: center;
    background: #fff;
    padding: 20px 20px 80px 20px;
    font-size: 16px;
    font-style: italic;
    border-radius: 5px;
    b {
      display: inline-block;
      font-size: 22px;
      left: -9px;
      position: relative;
      top: -8px;
    }
    small {
      display: inline-block;
      right: -9px;
      position: relative;
      top: 4px;
    }
  }
}
