#about {
  padding-bottom: 40px;
}

#projects {
  padding-bottom: 40px;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    float: left;
    margin: 0 3.6%;
  }
  img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

#posts {
  padding-bottom: 40px;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    float: left;
    padding: 0 .4%;
  }
  img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

#photos {
  padding-bottom: 40px;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    float: left;
    margin: 0 2%;
    padding: .2%;
  }
  img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

#patterns {
  padding-bottom: 40px;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    float: left;
    margin: 0 3.2%;
  }
  img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.card {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container {
  width: 100%;
  padding: 15px 20px;
  height: auto;
  overflow: scroll;
  .image {
    border: 5px solid $highlight;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    float: right;
    height: 225px;
    padding-top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: .8em;
  }
  p {
    display: inline-block;
    width: 70%;
  }
}

h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
}
h3 {
  font-size: 1.35em;
  font-weight: 400;
  margin-bottom: .5em;
}
a {
  text-decoration: none;
  color: $dark;
  &:hover {
    color: $highlight
  }
}
.date {
  font-size: .85em;
  margin-bottom: 3em;
  color: $dark;
}
p {
  margin: 0 0 .75em 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1380px) {

  .wrapper {
    max-width: 1000px;
  }

  #projects {
    li {
      margin: 0 4.6%;
      padding: 0 9.1%;
      width: 40%;
    }
    h3 {
      margin: 0;
    }
  }

  #posts {
    li {
      width: 42%;
      padding: 0 9.5%;
      margin: 0 2%;
    }
    h3 {
      margin: 0;
    }
  }

  #photos {
    li {
      width: 46%;
      margin: 0 2%;
      padding: 0 11%;
    }
    h3 {
      margin: 0 0 1em;
    }
  }

  #patterns {
    li {
      margin: 0 1%;
      width: 48%;
      padding: 0 12.5%;
    }
    h3 {
      margin: 0 0 1em;
    }
  }
}

@media screen and (max-width: 960px) {
  .container {
    .image {
    height: 146px;
    margin: 0;
    }
    p {
      width: 79%;
    }
  }

  #projects li {
    margin: 0;
    padding: 0 12.5%;
    width: 50%;
  }

  #posts li {
    width: 50%;
    padding: 0 8.2%;
    margin: 20px 0;
  }

  #photos li {
    width: 50%;
    padding: 0 12%;
    margin: 20px 0;
  }

  #patterns li {
    width: 50%;
    padding: 0 13%;
    margin: 20px 0;
  }
}

@media screen and (max-width: 768px) {

  .container {
    .image {
    height: 146px;
    margin: 0;
    }
    p {
      width: 65%;
    }
    h2 {
      text-align: center;
    }
  }

  #projects li {
    margin: 0;
    padding: 0 8.5%;
    width: 48%;
  }

  #posts li {
    width: 49%;
    padding: 0 4.2%;
    margin: 0;
  }

  #photos li {
    width: 49%;
    padding: 0 8%;
    margin: 0;
  }

  #patterns li {
    width: 49%;
    padding: 0 9.5%;
    margin: 0;
  }
}

@media screen and (max-width: 710px) {

  .container {
    .image {
    height: 146px;
    margin: 0;
    }
    p {
      width: 65%;
    }
    h2 {
      text-align: center
    }
  }

  #projects li {
    width: 100%;
    text-align: center;
  }

  #posts li {
    width: 100%;
    text-align: center;
  }

  #photos li {
    width: 100%;
    text-align: center;
  }

  #patterns li {
    width: 100%;
    text-align: center;
  }
}
