#about {
  padding-bottom: 40px;
}

#projects {
  padding-bottom: 40px;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    float: left;
    margin: 0 3.9%;
  }
}

#posts {
  padding-bottom: 40px;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    float: left;
    margin: 0 3.9%;
  }
}

#photos {
  padding-bottom: 40px;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    float: left;
    margin: 0 5.2%;
  }
}

#patterns {
  padding-bottom: 40px;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    float: left;
    margin: 0 5.2%;
  }
}

.card {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container {
  width: 100%;
  padding: 15px 20px;
  height: auto;
  overflow: scroll;
  .image {
    border: 5px solid $highlight;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    float: right;
    height: 225px;
    padding-top: 0;
  }
  p {
    display: inline-block;
    width: 80%;
  }
}

h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
}
h3 {
  font-size: 1.35em;
  font-weight: 400;
  margin-bottom: .5em;
}
a {
  text-decoration: none;
  color: $dark;
  &:hover {
    color: $highlight
  }
}
.date {
  font-size: .85em;
  margin-bottom: 3em;
  color: $dark;
}
p {
  margin: 0 0 .75em 0;
}

// .about {
//   padding: 0 7.5% 0 0;
//   a {
//     color: $highlight;
//     font-weight: 700;
//     text-decoration: none;
//   }
// }
