/*===================
    Work
======================*/
#work {
    width: 100%;
    height: 600px;
}

#work img {
    display: block;
    margin: auto;
    width: 70%;
    border: 1px solid #c5c1c0;
}

.discus-custom {
  background-color: white;
  padding: 20px;
}
