* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.gallery {
  width: 640px;
  height: 370px;
  margin: 10px auto;
  background: #999;
  border: 1px solid orange;
}

.slider {
  width: inherit;
  overflow: scroll;
  height: 344px;
}

.slider ul {
  width: 10000px;
  margin-left: 0px;
}

.slider li {
  float: left;
}

#slider-nav {
  display: none;
  margin-top: -10em;
  cursor: pointer;
}
