@import 'normalize';

$dark: #424652;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #e9e9e9;
$white: #ffffff;

* {
  box-sizing: border-box;
}

html, body, ul, li {
  padding: 0;
  margin: 0;
}

// #holder {
//   min-height: 100%;
//   position: relative;
// }

body {
  font-family: 'Raleway', sans-serif;
  background-image: url(linen_texture);
}

.wrapper {
  width: 96%;
  margin: 0 auto;
  padding: 0 2%;
}

.skinny_wrapper {
  min-height: 100%;
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}

.wrapper_padding {
  padding: 4rem 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}

.notice, .alert {
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid #e9e9e9;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  color: $dark;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p, li {
  font-size: 1.1rem;
  line-height: 1.75;
}

p, ul, ol, {
  margin: 0 0 1.6em 0;
}

hr {
  width: auto;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid $highlight;
  margin: 2rem 0;
}

#main_navigation {
  padding: 1em 2% 1em 2%;
  background-image: image-url("flower_background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-bottom: 1px solid $border;
}

#main_navigation .logo_rest, .logo_hover {
  // background-image: url(linen_texture);
  // background: rgba(255, 255, 255, 0.3);
  font-weight: 700;
  font-size: .8em;
  letter-spacing: 4px;
  text-transform: uppercase;
  border: 2px solid $border;
  padding: 1rem;
  text-decoration: none;
  color: $dark;
  float: left;
}

#main_navigation .logo_hover, .logo_hover:hover {
  display: none;
  border-color: $highlight;
}

#main_navigation nav {
  float: right;
  // margin: 4.5rem 0 0 0;
  // padding: 1.3rem;
  // background: rgba(255, 255, 255, 0.3);
  border: 1px solid $border;
}

#main_navigation nav ul {
  margin: 0;
  padding: 0;
}

#main_navigation nav li {
  list-style-type: none;
  float: left;
  margin-left: 20px;
}

#main_navigation nav a {
  text-transform: uppercase;
  font-weight: 700em;
  color: $dark;
  text-decoration: none;
  margin: 20rem 1rem 0 0;
  font-size: 1rem;
  &:hover {
    color: $highlight;
  }
}
#main_navigation .bottom-aligner {
  display: inline-block;
  margin: 112px 0 0 0;
  // background-image: url(linen_texture);
  background: rgba(255, 255, 255, 0.3);
}


#main-banner {
  max-height: 500px;
  overflow: hidden;
}

#main-banner img {
  position: relative;
  z-index: 1;
  width: 100%;
}

#page_title {
  text-align: center;
  border-bottom: 1px solid $border;
  padding: 1em 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

#main_footer,
  .push {
    height: 40px;
    width: 100%;
    margin-top: -50px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2.5em 5%;
    border-top: 1px solid $border;
    background: #7b7d81;
    .copyright {
      float: left;
      font-size: .9em;
      margin: 0;
    }
    .tech {
      z-index: -1;
      text-align: center;
      font-size: .9em;
      margin: 0;
      padding: 0;
    }
    nav {
      float: right;
      i {
        color: $dark;
        margin-left: 1em;
        padding-top: .2em;
        &:hover {
          color: $highlight;
        }
      }
    }
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 100%;
  max-width: 100%;
  height: 3em;
  border: 2px solid $border;
  padding: 1em;
  margin: .5em 0 2em 0;
}

textarea {
  min-height: 20em;
}

input[type="submit"], .button {
  margin: 0 0 3em 0;
  outline: none;
  background: transparent;
  border: 2px solid $border;
  text-align: center;
  font-size: 1em;
  color: $dark;
  text-decoration: none;
  padding: 1em 2em;
  &:hover {
    border: 2px solid $highlight;
    color: $highlight;
  }
}

.project_button {
  background: $highlight;
  color: $white;
  text-decoration: none;
  padding: 1em 2em;
}

.button_wrapper {
  margin: 4em 0 0 0;
  text-align: center;
}

@import 'welcome';
@import 'about';
@import 'posts_projects';
@import 'pygments';
@import 'font-awesome';
@import 'contacts';
@import 'footer-distributed';
@import 'social-share-button';
@import 'lightbox';
@import 'masonry/basic';
@import 'masonry/centered';
@import 'masonry/fluid';
@import 'masonry/gutters';
@import 'masonry/infinitescroll';
@import 'masonry/right-to-left';
@import 'masonry/transitions';
