$dark: #424652;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #e9e9e9;
$white: #ffffff;

/// Default color variables
$accent-color: #03C4EB;
$heading-color: #333333;
$text-color: #666666;

/// Fonts variables
$accent-font: 'Raleway', sans-serif;
$heading-font: 'Raleway', sans-serif;
$text-font: 'Open Sans', sans-serif;

@import "bootstrap-sprockets";
@import "bootstrap";
@import '_global';
@import '_nav';
@import '_welcome';
@import '_inputs';
@import '_parallax';
@import '_photos_patterns';
@import '_posts_projects';
@import '_about';
@import '_contacts';
@import '_footer';
@import '_header';
@import '_portfolio';
@import '_testimonials';
@import 'pygments';
@import 'font-awesome';
@import 'social-share-button';
@import 'lightbox';
