@import 'normalize';

$dark: #424652;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #e9e9e9;
$white: #ffffff;

* {
  box-sizing: border-box;
}

html, body, ul, li {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-image: url(linen_texture);
}

.wrapper {
  width: 96%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

.skinny_wrapper {
  min-height: 100%;
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}

.wrapper_padding {
  padding: 4rem 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}

.notice, .alert {
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid #e9e9e9;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  color: $dark;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p, li {
  font-size: 1.1rem;
  line-height: 1.75;
}

p, ul, ol, {
  margin: 0 0 1.6em 0;
}

hr {
  width: auto;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid $highlight;
  margin: 1rem 0 2rem 0;
}

#main_navigation {
  padding: 1em 2% 1em 2%;
  background-image: image-url("flower_background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-bottom: 1px solid $border;
}

#main_navigation .logo_rest, .logo_hover {
  font-weight: 700;
  font-size: .8em;
  letter-spacing: 4px;
  text-transform: uppercase;
  border: 2px solid $border;
  padding: 1rem;
  text-decoration: none;
  color: $dark;
  float: left;
}

#main_navigation .logo_hover, .logo_hover:hover {
  display: none;
  border-color: $highlight;
}

#menu {
  padding-bottom: 2em;
  border-bottom: 1px solid $border;

}

#menu nav .navbar {
  // float: right;
  // border: 1px solid $border;
  width: 100%;
  margin: auto;
}

#menu nav ul {
  width: 100%;
  margin: auto;
  padding: 0;
}

#menu nav li {
  list-style-type: none;
  float: left;
}

#menu nav a {
  text-transform: uppercase;
  font-weight: 700em;
  color: $dark;
  text-decoration: none;
  margin: 20rem 1rem 0 0;
  font-size: 1rem;
  &:hover {
    color: $highlight;
  }
}

#squares {
  // float: right;
  // border: 1px solid $border;
  width: auto;
  height: auto;
}

#squares ul {
  margin: 0;
  padding: 0;
}

#squares li {
  height: auto;
  list-style-type: none;
  float: left;
  margin: 0;
  font-size: 0;
  line-height: 1.75;
  // margin-left: 20px;
}

// #squares a {
//   text-transform: uppercase;
//   font-weight: 700em;
//   color: $dark;
//   text-decoration: none;
//   // margin: 20rem 1rem 0 0;
//   margin: 0;
//   font-size: 1rem;
//   &:hover {
//     color: $highlight;
//   }
// }
.bottom-aligner {
  display: inline-block;
  margin: 112px 0 0 0;
  background: rgba(255, 255, 255, 0.3);
}

#page_title {
  text-align: center;
  border-bottom: 1px solid $border;
  padding: 1em 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 100%;
  max-width: 100%;
  height: 3em;
  border: 2px solid $border;
  padding: 1em;
  margin: .5em 0 2em 0;
}

textarea {
  min-height: 20em;
}

input[type="submit"], .button {
  margin: 0 0 3em 0;
  outline: none;
  background: transparent;
  border: 2px solid $border;
  text-align: center;
  font-size: 1em;
  color: $dark;
  text-decoration: none;
  padding: 1em 2em;
  &:hover {
    border: 2px solid $highlight;
    color: $highlight;
  }
}

.project_button {
  background: $highlight;
  color: $white;
  text-decoration: none;
  padding: 1em 2em;
}

.button_wrapper {
  margin: 4em 0 0 0;
  text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {

  #main_navigation .logo_rest, .logo_hover {
    float: none;
    margin: 0 40% -97px;
    // background-image: url(linen_texture);
  }

  #menu nav {
    float: none;
    border: none;
  }

  #menu .bottom-aligner {
    margin: 112px 3% 0;
  }
}

@media screen and (max-width: 754px) {

  #main_navigation {
    background-size: auto;
    padding: 0;
    border-bottom: none;
  }

  #main_navigation .wrapper {
    padding: 0;
    width: 100%;
  }

  #main_navigation .logo_rest, .logo_hover {
    float: none;
    margin: 13px 37% 8px;
    // background-image: url(linen_texture);
    width: 25%;
  }

  #menu {
    padding-bottom: 0;
    border-bottom: 1px solid $border;
  }

  #menu nav li {
    float: none;
    width: 100%;
    margin: 0;
  }

  #menu nav li a {
    display: block;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-top: 1px solid $border;

    font-size: 11px;
  }

  #menu .bottom-aligner {
    margin: 0;
    width: 100%;
  }

  #burger-nav {
    width: 100%;
    height: 40px;
    margin: 0;
    background: url(burger-dark) no-repeat 98% center;
    cursor: pointer;
  }

  #menu nav ul {
    height: 0;
    overflow: hidden;
  }

  #menu nav ul.open {
    position: relative;
    clear: left;
    left: 0;
    right: 0;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    padding: 40px 0 0;
    background: rgba(255, 255, 255, 0.3);
  }
}

@import 'welcome';
@import '_photos_patterns';
@import 'posts_projects';
@import 'pygments';
@import 'font-awesome';
@import 'contacts';
@import 'footer-distributed';
@import 'social-share-button';
@import 'lightbox';
