.footer-distributed{
  border-top: 1px solid $border;
	background-color: #7b7d81;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 30px 30px 30px;
	margin-top: 80px;
}

.footer-distributed .footer-left {
	color:  $dark;
	font-size: .9em;
	margin: 0;
  p {
    margin: 46px 0 .75em 0;
    padding-top: 1em;
  }
  .copyright {
    text-align: center;
    width: 100%;
    border-top: 1px solid $light;
  }
}

.tech {
  z-index: -1;
  float: left;
  font-size: .9em;
  margin: 0;
  padding: 0;
  width: auto;
}
/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  $dark;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin: 0;
	max-width: 180px;
  padding: 0 0 4px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	font-size: 20px;
	color: $dark;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
  &:hover {
    color: $highlight;
  }
}

/* If you don't want the footer to be responsive, remove these media queries */

@media screen and (max-width: 1080px) {
  .footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
    float: none;
    max-width: none;
	}
}

@media screen and (max-width: 975px) {

  .footer-distributed .tech {
    float: none;
    text-align: center;
    padding: 15px 0 0;
  }

  .footer-distributed .footer-left p {
    margin: 27px 0 .75em 0;
  }
}

@media screen and (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

@media screen and (max-width: 480px) {

  .footer-distributed {
    padding: 20px;
    margin-top: 0;
  }

  .footer-distributed .footer-left .copyright,
  .footer-distributed .footer-right {
    float: none;
    width: 100%;
    text-align: center;
  }

  .footer-distributed .footer-left .copyright {
    padding-top: 1.5em;
  }
}
